<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pifoo.service" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 配置Service组件,同时配置一个action -->
        <service android:name=".Service1">
            <intent-filter>
                <action android:name="io.pifoo.service.SERVICE1"/>
            </intent-filter>
        </service>
        <service android:name=".Service2">
            <intent-filter>
                <action android:name="io.pifoo.service.SERVICE2"/>
            </intent-filter>
        </service>
    </application>

</manifest>
