<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Objective-C基础教程(v2).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>les.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>les1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>les2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD3EC2721C147CC5000956A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD69F95F1C8929C9001E56CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD79218C1C30EC6D00ECA0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF438641C147E6D00493F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
