
@charset "utf-8";

body{
	background: #f2f2f2;color: #000;text-shadow: 0px 1px 0px #d1d1d1;
	font: 12px/18px 微软雅黑, Verdana, Tahoma, Arial,Lucida Grande, sans-serif;
}
div{
	background: #f2f2f2;color: #000;text-shadow: 0px 1px 0px #d1d1d1;
	
	
}